*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: auto;
    width: 100%;
    background-color: white;
}
.navbar{
    width: 100%;
    height: 90px;
    display: flex;
    padding-inline: 40px;
    padding-bottom: 25px;
    justify-content: space-between;
}
.left h5{
    font-size: 20px;
}
.right{
    height: auto;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right button{
    height: 30px;
    width: 100px;
    border: black solid 1px;
    background: transparent;
    border-radius: 20px;
}

.text-section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text-section h1{
    text-align: center;
}
.text-section p{
    font-size: 15px;
    padding-top: 10px;
}
.text-section span{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.text-section span input{
    height: 50px;
    width: 250px;
    margin-right: 10px;
    border-radius: 25px;
    border: black solid 2px;
    padding-inline: 5px;

}
.text-section span button{
    height:50px;
    width: 150px;
    border-radius: 25px;
    border: black solid 2px;
    padding-inline: 5px;
    background-color: black;
    color: white;

}

.heading{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    padding-block: 35px;
}
.heading h5{
    font-size: 25px;
    color: black;
}
.heading p{
    font-size: 20px;
    color: black;
}

.box-section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-block: 30px;

}
.box{
    height: 40%;
    width: 300px;
    background-color: rgb(44, 152, 44);
    padding: 30px;
    border-radius: 30px;
}

.box p{
    font-size: 12px;
    color: rgb(68, 61, 61);
    margin-top: 10px;
    

}
.box h5{
    font-size:15px ;
    margin-top: 10px;


}
.box hr{
    margin-top: 20px;
}
.box-part{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
}
.box-part h4{
    font-size: 22px;
}
.i-box{
    width: 30px;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.box:nth-child(2){
    background-color: blueviolet;
}
.box:nth-child(3){
    background-color: rgb(210, 210, 35);
}
.box:nth-child(4){
    background-color: rgb(206, 113, 46);
}
/* responsive css */
@media (max-width:480px) {
    .container{
        height: auto;
        width: 100%;

    }
    .navbar{

        height: 70px;
        width: 100%;
        padding-top: 18px;

    }
.left{
    font-size: 16px;
}
.right button{
    display: none;
}
.text-section{
    height: auto;
    width: 100%;
}
.text-section h1{
    font-size: 26px;
}
.text-section span{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .text-section span button{
    margin-top: 10px;
    }
.box-section{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box{
    height: auto;
    width: auto;
    margin-top: 10px;
}
}